@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-image: linear-gradient(to bottom, #3CD983, #195634);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: -8px -8px 0px -8px;
    padding: 5px;
    box-shadow: 0px 3px 8px rgba(58, 58, 58, 0.534);
}

header > h1 {
    font: normal 2em impact, sans-serif;
    color: white;
    text-shadow: 1px 1px 3px rgb(37, 37, 37);
}

header > p {
    padding: 0px 10px 0px 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgb(37, 37, 37);
    max-width: 500px;
    margin: 15px auto 20px auto;
}

nav {
    margin: auto;
    width: 800px;
    height: 25px;
    text-align: left;
    padding: 0px;
}

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    color: #3AD27F;
    height: 25px;
    line-height: 25px;
    font-weight: 400;
    text-decoration: none;
    font-size: 0.9em;
    padding: 8px;
    border-radius: 4px;
    margin: 0px;
}

nav > a:hover {
    box-shadow: inset -1px -1px 5px 8px rgba(37, 37, 37, 0.281);
    transition: 600ms;
    color: white;
}

body {
    background-color: #d0e184a1;
}

main {
    background-color: white;
    max-width: 830px;
    min-width: 300px;
    margin: 0px auto 0px auto;
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 2px 14px 4px rgba(24, 24, 24, 0.384);
    border-radius: 0px 0px 10px 10px;
}

section {
    text-align: center;
    padding: 0px 15px;
}

section > h1 {
    font-family: idroid;
    text-align: left;
    color: #41785A;
    font-size: 2em;
    margin-top: 0px;
    padding-top: 10px;
}

section > h2 {
    font-family: idroid;
    text-align: left;
    color: #41785A;
    background-image: linear-gradient(to right, #84E1AD, white);
    padding: 3px 10px;
}

section > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

section#section-video {
    background-color: #195634;
    text-align: center;
    padding: 10px;
    margin: 5px 0px;
}

div {
    background-color: #84e1ac79;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 3px rgba(24, 24, 24, 0.384);
}

div > h3 {
    background-color: #41785a;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95em;
    color: white;
    text-align: left;
}

div > p {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

article > aside {
    margin: auto;
}

aside > div {
    max-width: 790px;
    margin: auto;
}

img {
    width: 100%;
}

video {
    width: 100%;
}

ul {
    columns: 2;
}

li {
    text-align: left;
    width: 200px;
    margin: 0px auto 0px auto;
}

li::before {
    content: '✔ ';
}

.link-externo {
    text-decoration: none;
    background-color: #84E1AD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #195634;
}

.link-externo::before {
    content: '🔗 ';
}

.link-externo:hover {
    color: #268852a1;
    transition: 450ms;
}

p#pvideo {
    text-align: center;
}

abbr {
    text-decoration: none;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    height: 30px;
    color: white;
    font-weight: 200;
    text-align: center;
    background-color: #195634;
    margin: 25px -8px -8px -8px;
}